<html th:replace="~{layout/baseTemplate :: html( ~{} )}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contenido">
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1">403</h1>
            <h2>Acceso Denegado</h2>
            <p>No tienes permiso para acceder a esta página.</p>
            <a href="javascript:history.back()" class="btn btn-primary">Volver a la página anterior</a>
        </div>
    </div>
</div>
</html>